{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="container" >
    <h1>Sign up for a new account</h1>
    <hr>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-sm btn-primary">Sign In</button>
    </form>
    <p>
         
        <a href="{% url 'register' %}">Create a new account here!</a>
    </p>
        <p>
         
        <a href="{% provider_login_url 'google' %}">Login with Google</a>
    </p>
</div>
{% endblock %}