{% extends "base_nav.html" %} {% block content%}
<div class="container py-5">
  <div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="display-4">Ask and Answer Questions</h1>
    <p class="lead">Find answers to all of your questions, or ask a new one.</p>

    <a href="{% url 'question_blueprint:question_view' %}" class="btn btn-primary btn-lg my-3">Question List</a>
    <a href="#" class="btn btn-primary btn-lg">Ask a Question</a>
  </div>
</div>
</div>
{% endblock %}
