{% extends "base_nav.html" %} {% block content%}

<div class="row px-5">
  <div class="col-md-9 col-sm-12">
    <div class="list-group w-100">
      <a
        href="#shortExampleAnswer1collapse"
        data-mdb-toggle="collapse"
        aria-expanded="false"
        aria-controls="shortExampleAnswer1collapse"
        class="list-group-item list-group-item-action"
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Question 1</h5>
        </div>
        <p class="mb-1">Short & concise version of the answer.</p>
        <small><u>Learn more</u></small>
        <!-- Collapsed content -->
        <div class="collapse mt-3" id="shortExampleAnswer1collapse">
          Detailed and comprehensive answer goes here. pariatur cliche
          reprehenderit, enim eiusmod high life accusamus terry richardson ad
          squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson
          cred nesciunt sapiente ea proident.
          </div>

      </a>
      <a
        href="#shortExampleAnswer2collapse"
        data-mdb-toggle="collapse"
        aria-expanded="false"
        aria-controls="shortExampleAnswer1collapse"
        class="list-group-item list-group-item-action"
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Question 2</h5>
        </div>
        <p class="mb-1">Short & concise version of the answer.</p>
        <small class="text-muted"><u>Learn more</u></small>
        <!-- Collapsed content -->
        <div class="collapse mt-3" id="shortExampleAnswer2collapse">
          Detailed and comprehensive answer goes here. pariatur cliche
          reprehenderit, enim eiusmod high life accusamus terry richardson ad
          squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson
          cred nesciunt sapiente ea proident.
        </div>
      </a>
      <a
        href="#shortExampleAnswer3collapse"
        data-mdb-toggle="collapse"
        aria-expanded="false"
        aria-controls="shortExampleAnswer1collapse"
        class="list-group-item list-group-item-action"
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Question 3</h5>
        </div>
        <p class="mb-1">Short & concise version of the answer.</p>
        <small class="text-muted"><u>Learn more</u></small>
        <!-- Collapsed content -->
        <div class="collapse mt-3" id="shortExampleAnswer3collapse">
          Detailed and comprehensive answer goes here. pariatur cliche
          reprehenderit, enim eiusmod high life accusamus terry richardson ad
          squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson
          cred nesciunt sapiente ea proident.
        </div>
      </a>
    </div>
  </div>
  <div class="col-12 col-md-3 ">
    
    <ul class="list-group list-group-light flex-fill">
  <li class="list-group-item px-3 active text-center" aria-current="true">
    Topics
  </li>
  <a class="list-group-item border-1 mx-4 text-center" href="#">A second topic</a>
  <a class="list-group-item border-1 mx-4 text-center" href="#">A third topic</a>
  <a class="list-group-item border-1 mx-4 text-center" href="#">A fourth topic</a>
  <a class="list-group-item border-1 mx-4 text-center" href="#">And a fifth topic</a>
</ul> 

  </div>
</div>




{% endblock %}
