{% extends "base_nav.html" %} {% block content%}

<div class="row px-5">
  <div class="col-md-9 col-sm-12">
    <div class="list-group w-100">
      <a
        href="#shortExampleAnswer1collapse"
        data-mdb-toggle="collapse"
        aria-expanded="false"
        aria-controls="shortExampleAnswer1collapse"
        class="list-group-item list-group-item-action"
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Question 1</h5>
        </div>
        <p class="mb-1">Short & concise version of the answer.</p>
        <small><u>Learn more</u></small>
        <!-- Collapsed content -->
        <div class="collapse mt-3" id="shortExampleAnswer1collapse">
          Detailed and comprehensive answer goes here. pariatur cliche
          reprehenderit, enim eiusmod high life accusamus terry richardson ad
          squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson
          cred nesciunt sapiente ea proident.
        </div>
      </a>
      <a
        href="#shortExampleAnswer2collapse"
        data-mdb-toggle="collapse"
        aria-expanded="false"
        aria-controls="shortExampleAnswer1collapse"
        class="list-group-item list-group-item-action"
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Question 2</h5>
        </div>
        <p class="mb-1">Short & concise version of the answer.</p>
        <small class="text-muted"><u>Learn more</u></small>
        <!-- Collapsed content -->
        <div class="collapse mt-3" id="shortExampleAnswer2collapse">
          Detailed and comprehensive answer goes here. pariatur cliche
          reprehenderit, enim eiusmod high life accusamus terry richardson ad
          squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson
          cred nesciunt sapiente ea proident.
        </div>
      </a>
      <a
        href="#shortExampleAnswer3collapse"
        data-mdb-toggle="collapse"
        aria-expanded="false"
        aria-controls="shortExampleAnswer1collapse"
        class="list-group-item list-group-item-action"
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Question 3</h5>
        </div>
        <p class="mb-1">Short & concise version of the answer.</p>
        <small class="text-muted"><u>Learn more</u></small>
        <!-- Collapsed content -->
        <div class="collapse mt-3" id="shortExampleAnswer3collapse">
          Detailed and comprehensive answer goes here. pariatur cliche
          reprehenderit, enim eiusmod high life accusamus terry richardson ad
          squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson
          cred nesciunt sapiente ea proident.
        </div>
      </a>
    </div>
  </div>
  <div class="col-12 col-md-3 ">
    
    <ul class="list-group list-group-light flex-fill">
  <li class="list-group-item px-3 active text-center" aria-current="true">
    Topics
  </li>
  <a class="list-group-item border-1 mx-4 text-center" href="#">A second topic</a>
  <a class="list-group-item border-1 mx-4 text-center" href="#">A third topic</a>
  <a class="list-group-item border-1 mx-4 text-center" href="#">A fourth topic</a>
  <a class="list-group-item border-1 mx-4 text-center" href="#">And a fifth topic</a>
</ul> 

  </div>
</div>


<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Group name
          </h6>
          <p>
            Question Blueprint Team
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a href="#!" class="text-reset">Question Blueprint</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i> San Jose, California, US</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            questionblueprint@gmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
          <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="{% url 'home'%}"> Question Blueprint</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

{% endblock %}
