{% extends "base_nav.html" %} {% block content%}
<h1 class="text-center mb-2">Question List</h1>
<div class="d-flex">
  <button class="btn btn-outline-success ms-auto mx-4">Ask a question</button>
</div> 
{% for question in questions %}
<div class="container py-2">
  <div class="list-group">
    <div class="list-group-item list-group-item-action">
      <a href="">{{question.title}}</a>
      {% if question.content|wordcount < 15 and question.content|length < 100 %}
      <p>{{question.content}}</p>
      {% else %}
      <p>{{question.content|truncatechars:40}}</p>
      {% endif %}
      <hr />
      <span>Asked by <a href="{% url 'profile_view' question.user.username %}">{{question.user}}</a></span>
      <p>On {{question.created_date}}</p>
      <div class="d-flex flex-row">
        {% for t in question.tag.all %}
      <p class="rounded-pill px-2">#{{t}}</p>
      {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endfor %} {% endblock %}
